@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


:root {
  --text-color: #fff;
  --main-color: #0053FF;
  --background-color: #090909;
  --background-support-color: #151515;
}

body {
  @apply min-w-[375px];
  @apply pt-[52px] md:pt-[118px] lg:pt-[118px];
  @apply text-[var(--text-color)];
  @apply bg-[var(--background-color)];
}
