.btn {
  @apply relative;
  @apply lg:hidden;
  @apply w-[35px] h-[30px];
  @apply transition-transform;
}

.line {
  @apply absolute left-0;
  @apply h-1 w-full;
  @apply bg-[var(--text-color)];
  @apply transition-transform;
}

.btn.open {
  @apply rotate-90;
}

.top {
  @apply top-0;
}

.top.open {
  @apply left-[3px] top-3;
  @apply w-[30px];
  @apply rotate-90;
}

.center {
  @apply top-[13px];
}

.center.open {
  @apply left-[2px] top-5;
  @apply w-5;
  @apply rotate-45 delay-75;
}

.bottom {
  @apply bottom-0;
}

.bottom.open {
  @apply left-[14px] top-5;
  @apply w-5;
  @apply -rotate-45 delay-100;
}

.nav {
  @apply fixed top-[120px] z-30;
  @apply flex flex-col gap-3;
  @apply w-[375px];
  @apply p-4;
  @apply bg-[var(--background-support-color)];
}





.nav-icon-4{
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.nav-icon-4 span{
  background-color:#FFF;
  position: absolute;
  border-radius: 2px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}
.nav-icon-4 span:nth-child(1){
  width: 100%;
  height:  4px;
  display: block;
  top: 0px;
  left: 0px;
}
.nav-icon-4 span:nth-child(2){
  width: 100%;
  height:  4px;
  display: block;
  top: 13px;
  left: 0px;
}
.nav-icon-4 span:nth-child(3){
  width: 100%;
  height:  4px;
  display: block;
  bottom: 0px;
  left: 0px;
}
.nav-icon-4:not(.open):hover span:nth-child(1){
  width: 100%;
  height:  4px;
  display: block;
  top: -2px;
  left: 0px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}
.nav-icon-4:not(.open):hover span:nth-child(2){
  width: 100%;
  height:  4px;
  display: block;
  top: 13px;
  left: 0px;
  transition: .4s cubic-bezier(.8, .5, .2, 1.4);
}
.nav-icon-4:not(.open):hover span:nth-child(3){
  width: 100%;
  height:  4px;
  display: block;
  bottom: -2px;
  left: 0px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}
.nav-icon-4.open {
  transform: rotate(90deg);
}
.nav-icon-4.open span:nth-child(1){
  left:3px;
  top: 12px;
  width: 30px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  transform: rotate(90deg);
  transition-delay: 150ms;
}
.nav-icon-4.open span:nth-child(2){
  left:2px;
  top: 20px;
  width: 20px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  transform: rotate(45deg);
  transition-delay: 50ms;
}
.nav-icon-4.open span:nth-child(3){
  left:14px;
  top: 20px;
  width: 20px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  transform: rotate(-45deg);
  transition-delay: 100ms;
}